<div class="container px-5 py-5 mx-auto" style="box-shadow: 0px 8px 24px 0px rgba(69, 69, 80, 0.1)">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
        <form>
          <div class="row">
            <div class="form-group col-md-6 px-2 py-2">
              <label for="code">Weight<span class="text-danger"> *</span></label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Enter your weight</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="form-group col-md-6 px-2 py-2">
              <label for="codeDate">Height<span class="text-danger"> *</span></label>
              <input class="form-control" id="codeDate" placeholder="Enter your height" />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 px-2 py-2">
              <label for="code">Children<span class="text-danger"> *</span></label>
              <input type="text" class="form-control" id="code" placeholder="Enter number of children" />
            </div>
            <div class="form-group col-md-6 px-2 py-2">
              <label for="codeDate">PED <span class="text-danger"> *</span></label>
              <input type="text" class="form-control" id="code" placeholder="xyz" />
            </div>
        
          </div>
          <div class="row justify-content-center mt-4">
            <div class="col-md-6 text-center">
              <button style="min-width: 160px;" type="button" class="btn btn-warning btn-lg px-3">Continue</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  